<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.partyplanner.mapper.eventPlanMapper">

	<select id="read" resultType="EventPlan">
		SELECT num,
		schedule,
		mc,
		stage,
		light,
		sound,
		staff,
		people,
		startday,
		endday,
		place,
		member_id "id",
		event_name "name",
		event_sum "eventSum",
		option_sum "optionSum"
		FROM event_plan
		WHERE num = #{num}
	</select> 


	<select id="listplan" resultType="EventPlan">
		SELECT num,
		schedule,
		mc,
		stage,
		light,
		sound,
		staff,
		people,
		startday,
		endday,
		place,
		member_id "id",
		event_name "name",
		event_sum "eventSum",
		option_sum "optionSum"
		from event_plan
		WHERE member_id = #{id}
	</select>
	
	<insert id="create">
		INSERT INTO event_plan
		            (num,
		             schedule, 
		             <if test="mc != 'null'">mc,</if>
		             <if test="stage != 'null'">stage,</if> 
		             <if test="light != 'null'">light,</if> 
		             <if test="sound != 'null'">sound,</if> 
		             <if test="staff != 'null'">staff,</if> 
		             people,
		             startday,
		             endday,
		             place,
		             member_id,
		             event_name,
		             event_sum,
		             option_sum) 
		VALUES      (plan_num_seq.nextval, 
		             #{schedule},
		             <if test="mc != 'null'">#{mc},</if>
		             <if test="stage != 'null'">#{stage},</if> 
		             <if test="light != 'null'">#{light},</if> 
		             <if test="sound != 'null'">#{sound},</if> 
		             <if test="staff != 'null'">#{staff},</if>
		             #{people},
		             #{startday},
		             #{endday},
		             #{place},
		             #{id},
		             #{name},
		             #{eventSum},
		             #{optionSum})
	</insert>

</mapper>