<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.partyplanner.mapper.plangoodsMapper">
	
	<select id="read" resultType="PlanGoods">
		SELECT plan_num "planNum", 
		       goods_name "goodsName", 
			   amount
		FROM   plan_goods 
		WHERE  goods_name = #{goodsName}
	</select>
	
	<insert id="create">
		INSERT INTO plan_goods
		            (plan_num,
		             goods_name,
		             amount) 
		VALUES      (plan_num_seq.CURRVAL,
		             #{goodsName},
		             #{amount})
	</insert>
	
	<select id="listGoods" resultType="PlanGoods">
		SELECT plan_num "planNum", 
		       goods_name "goodsName", 
			   amount
		FROM   plan_goods 
		WHERE  plan_num = #{value}
	</select>
	
</mapper>