<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.partyplanner.mapper.SoundMapper">
	<select id="listAll" resultType="Sound">
		SELECT NAME, 
		       price, 
		       profile
		FROM   sound
		ORDER  BY price
	</select>
</mapper>